<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immiapp.immiapp" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:uiOptions="splitActionBarWhenNarrow"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.immiapp.immiapp.Main"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.immiapp.immiapp.events.EventActivityShow"></activity>
        <activity android:name="com.immiapp.immiapp.events.EventActivityAdd"></activity>
        <activity android:name="com.immiapp.immiapp.events.EventActivityEdit"></activity>

        <!--
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>

        <activity
            android:name="com.immiapp.immiapp.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName="com.immiapp.immiapp.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.immiapp.immiapp.HomeActivity"></meta-data>
        </activity>
        -->
    </application>

</manifest>
